argostranslate
annotated-types
anyio
bs4
fastapi
idna
json5
langchain_community
langdetect
pydantic
pydantic_core
PyMuPDF
requests
scikit-learn
sqlalchemy
sniffio
starlette
typing-inspection
typing_extensions
uvicorn
